@import "./normalize.css";

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-content: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typrography */
html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* link */
a {
  text-decoration: none;
}

.link-arrow {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-accent);
  text-transform: uppercase;
}

.link-arrow::after {
  margin-left: 5px;
  content: "-->";
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border-radius: 20px;
  color: var(--color-content);
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary);
}
.badge--secondary {
  background-color: var(--color-secondary);
}
.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}
@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}
/* list  */
.list {
  list-style: none;
  padding-left: 0;
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
.list--ticket {
  list-style-image: url("../images/tick.svg");
  padding-left: 3rem;
  color: var(--color-headings);
}
.list--ticket .list__item {
  padding-left: 0.5rem;
  margin-bottom: 2rem;
}
@media screen and(min-width:1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/* icon */
.icon-container {
  align-items: center;
  background-color: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}
.icon-container--accent {
  background-color: var(--color-accent);
}
.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}
.icon--secondary {
  fill: var(--color-secondary);
}
.icon--white {
  fill: #fff;
}
