<div class="media">
  <div class="media__img">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <article>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ea,
      perferendis modi rerum ullam distinctio harum facere voluptatem eos itaque
      quasi, nulla illum voluptate excepturi sit. Accusantium similique porro
      qui.
    </article>
  </div>
</div>
